*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    min-height:100vh;
    background:linear-gradient(180deg,#f15101,#056f15);
    padding:10px;
}
.todo-app{
    max-width:545px;
    background-color:white;
    margin:100px auto;
    border-radius:5px;
    padding:40px 30px 70px;
}
.todo-app h2{
    color:#002765;
    display:flex;
    align-items:center;
    margin-bottom:30px;
}
.todo-app img{
    width:35px;
    margin-left:10px;
}
.todo-app:hover{
    box-shadow:3px 3px 3px 3px rgb(71, 71, 247);
}
.row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#efe2e3;
    border-radius:10px;
    padding-left:20px;
    margin-bottom:25px;

}
input{
    flex:1;
    border:none;
    outline:none;
    padding:10px;
    font-size:medium;
    font-weight: 14px;
    background:transparent;
    color:#775154;
    
}
#priority{
    border:none;
    outline:none;
    background-color:transparent;
    font-size:medium;
    font-weight:14px;
    color:#726566;
}
button{
    border:none;
    outline:none;
    padding:16px 50px;
    color:#ffff;
    font-size:16px;
    cursor:pointer;
    background-color:#fb8b53;
    border-radius:10px;
}
button:hover{
    background-color:#fb5400;
}
ul li{
    position:relative;
    font-size:20px;
    cursor:pointer;
    padding:12px 8px 12px 50px;
    user-select:none;
    list-style:none;
}
ul li::before{
     content:'';
     position:absolute;
     height:28px;
     width:28px;
     border-radius:50%;
     background-image:url(images/unchecked.png);
     background-size:cover;
     background-position:center;
     top:8px;
     left:16px;
}
ul li.checked{
    color:#555;
    text-decoration:line-through;
}
ul li.checked::before{
    color:#666;
    background-image:url(images/checked.png);
}

ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size:25px;
    color:#555;
    line-height:40px;
    text-align:center;
    border-radius:50%;
}
ul li span:hover{
    background-color:#f3f3f3
}